<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUJW_CW3vP2sWbhgr5M6kHzXTpjhXTN5w</string>
	<key>GCM_SENDER_ID</key>
	<string>94057892419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>messenger-a8707</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-a8707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94057892419:ios:fbb893986e0505ecaaa2f6</string>
</dict>
</plist>